In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import os

In [8]:
os.listdir('..//data')

['wealth_by_age_group_emprical.pkl',
 'fertility.pkl',
 'ddqn_estimation_beta_L_simple_model.pkl',
 'dqn_estimation_beta_L_simple_model.pkl',
 'dqi_states_model1_opt_beta_simulations.pkl',
 'FOLK1B.csv',
 'AKU610A.csv',
 'FOD33.csv',
 'wage_quartiles_empirical_women.pkl',
 'FAM44_csv.csv',
 'LONS50_women.csv',
 'FORMUE7.csv',
 'dqi_model1_opt_beta_simulations.pkl',
 'women_hours_empirical',
 'LONS20_women.csv',
 'women_salary_mean.pkl',
 'LIGEF15_women.csv',
 'wage_variance_parameters_hat.pkl',
 'LIGEF15_men.csv',
 'total_score_dqn_simple_model.pkl',
 'LONS_50_women_quartiles.csv',
 'LONS20_men.csv',
 'wage_path_parameters_hat.pkl',
 'wage_quartiles_empirical_men.pkl',
 'men_hours_empirical',
 'dqi_actions_model1_opt_beta_simulations.pkl',
 'men_wage_path.pkl',
 'men_salary_mean.pkl',
 'LONS_50_men_quartiles.csv',
 'total_score_ddqn_simple_model.pkl',
 'LONS50_men.csv']

In [20]:
cols = ['køn', 'Årstal','Uden for arbejdsstyrken i alt', 'Hjemmearbejdende uden erhvervsarbejde', 'Skoleelever, studerende og kursister', 'Øvrige personer uden for arbejdsstyrken']

df_not_working = pd.read_csv('..//data//AKU610A.csv', sep=';', header=None)

df_not_working.columns = cols

In [21]:
df_not_working

,køn,Årstal,Uden for arbejdsstyrken i alt,Hjemmearbejdende uden erhvervsarbejde,"Skoleelever, studerende og kursister",Øvrige personer uden for arbejdsstyrken
0,Kvinder,2019,439,15,161,66

In [24]:
thousands_not_working = 15 + 161 + 66
print(thousands_not_working)

242

In [30]:
age_cols_ = ["15-19 år", "20-24 år", "25-29 år", "30-34 år", "35-39 år", "40-44 år", "45-49 år", "50-54 år", "55-59 år"]
prefix_cols = ['type', 'køn', 'geografi', 'tidspunkt']
age_cols = prefix_cols + age_cols_

df_age_cohorts = pd.read_csv('..//data//FOLK1B.csv', sep=';', header=None)
df_age_cohorts.columns = age_cols

In [ ]:
df_age_cohorts

In [34]:
n_women = df_age_cohorts.drop(['type', 'køn', 'geografi', 'tidspunkt'],axis=1).sum(axis=1)

In [36]:
n_women / 1000

0    1664.484
dtype: float64

In [38]:
thousands_not_working / (n_women / 1000)

0    0.14539
dtype: float64

In [39]:
0.242 / 1.664

0.14543269230769232